:root {
  --canvas: #fff;
  --canvastext: #000;
  --compose-height: 50px;

  color-scheme: dark light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --canvas: #000;
    --canvastext: #fff;
  }
}

html {
  box-sizing: border-box;
  height: var(--100vh, 100vh);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 1rem;
  font-family: system-ui, sans-serif;
  height: 100%;
  overflow: hidden;
}


.container {
  height: 100%;
  display: grid;
  gap: 10px 10px;
  grid-template:    
    "messages" 1fr
    "compose" var(--compose-height)
    "keyboard" env(keyboard-inset-height, 0px);
}

.view {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;  
  justify-content: center;  
  height: 100%;
}

.navigation {
  border: solid 1px var(--canvastext);
  width: 100%;
  height: var(--compose-height);
}

input {
  flex-grow: 1;
  font-size: inherit;
  border-radius: 0;
}

input:focus-visible,
button:focus-visible {
  outline: none;
}

form {
  display: flex;
  height: 100%;
}
