html, body {
	font-family: 'Didact Gothic', sans-serif;
	background-color: #fafafa;
}

#wrapper{
	width: 100%;
}

#content{
	width: 80%;
	margin: 0 auto;
	padding-top: 100px;
}

.mdl-card{
	margin: 0 auto;
}
.hidden,
#hidden-content{
	display: none;
}

#statistic tr{
	cursor: pointer;
}

#results{
	resize: none;
}

#system td{
	cursor: pointer;
}

#system .active td{
	background-color: #eee;
}

.scroll{
	width: 100%;
	overflow: auto;
}

.scroll-300{
	height: 300px;
}

.diagram{
	width: 976px;
}

.node {
	cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}